@import "./shared.scss";

$blue: #013364;
$red: #d30b0d;
$gray: #cbcaca;
$white: #ffffff;

h1 {
  color: $white;
  font-family: 'Rockwell';
}

label {
  font-weight: bold;
}

.republican {
  background-color: $red;
}

.democrat {
  background-color: $blue;
}

table {
  height:200px;
  display:block;
}

.list > tbody > tr > td {
  cursor: pointer;
}

.list > tbody > tr:hover {
  background-color: $gray;
}

.gray {
  background-color: $gray;
}

.uk-card {
  border-radius: 5px;
}